
@{
    ViewBag.Title = "New";
    //Layout = "~/Views/Shared/_Layout.cshtml"; we can remove it so system use shared\_viewstart.chtml
}

<h2>Rental Form</h2>
@*@Html.BeginForm("action","controller") =<form action="~/Controller>/action"></form</form>*@
@*@Ajax.BeginForm          we use this for call action  mvc controller but not in api controller because it show in uglyt*@
@*so we use row html instead as below*@
<form>
@*div.form-group>label+input[type='text'].form-control*@ @*if you press tab and install web esential this call Zencoding code extract as below*@
    <div class="form-group">
        <label>Cutomer</label>
        <input  id="customer" type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Movies</label>
        <input type="text" value="" class="form-control" />
    </div>
    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        //https://twitter.github.io/typeahead.js/examples/#remote
        var cutomers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            //prefetch: '../data/films/post_1960.json',
            remote: {
                url: '/api/customers?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#customer').typeahead({
            minLength: 3,
            highlight: true
         },
        {
            name: 'customers',
            display: 'name',
            source: customers
        }).on("typeahead:select", function (e, customer) {
            vm.customerId = customer.id;
        });

    });

</script>
}
