
@{
    ViewBag.Title = "New";
    //Layout = "~/Views/Shared/_Layout.cshtml"; we can remove it so system use shared\_viewstart.chtml
}

<h2>Rental Form</h2>
@*@Html.BeginForm("action","controller") =<form action="~/Controller>/action"></form</form>*@
@*@Ajax.BeginForm          we use this for call action  mvc controller but not in api controller because it show in uglyt*@
@*so we use row html instead as below*@
<form>
@*div.form-group>label+input[type='text'].form-control*@ @*if you press tab and install web esential this call Zencoding code extract as below*@
    <div class="form-group">
        <label>Cutomer</label>
        <input  id="customer" name="customer"  type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Movies</label>
        <input id="movie" name="movie" type="text" value="" class="form-control" />
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        var vm = {
            movieIds: []
        };

        //https://twitter.github.io/typeahead.js/examples/#remote
        var cutomers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            //prefetch: '../data/films/post_1960.json',
            remote: {
                url: '/api/customers?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#customer').typeahead({
            minLength: 3,
            highlight: true
         },
        {
            name: 'customers',
            display: 'name',
            source: customers
        }).on("typeahead:select", function (e, customer) {
            vm.customerId = customer.id;
        });

        $('#movie').typeahead({
            minLength: 3,
            highlight: true
        }, {
            name: 'movies',
            display: 'name',
            source: movies
        }).on("typeahead:select", function (e, movie) {
            $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");//use javascript  modify dom directly instead of html <ul data bind:foreach

            $("#movie").typeahead("val", ""); //we cant use  $("#movie").val to reset value because it typeahead plugin

            vm.movieIds.push(movie.id);
        });


    });

</script>
}
